/* Seletores gerais */

:root {
    --main-color: #612150;
    --second-color: #582b39;
    --third-color: #6e0000;
    --white-color: #fefefe;
    --bg-color: #b44169;
    --ft-color: #574141;
}

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--white-color);
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

p{
    font-size: 1.2rem;
    margin: 0;
}

/* Seletores dos componentes do cabeçalho */

header {
    width: 100vw;
    height: 8vh;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 1.4rem;
}

nav {
    width: 40vw;
}

/* Seletores dos componentes do Corpo do site */

body {
    background-color: var(--bg-color);
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
  
html::-webkit-scrollbar{
    display: none;
}

main {
    width: 100vw;
    text-align: left;
}

.corte{
    height: 60vh;
    object-fit: cover;
    object-position: center;
}

.card{
    background-color: #cc4a4a;
    width: 20rem;
    height: 25rem;
}

.card-body h3{
    color: #fcfcfc;
}

.card-img-top{
    width: 17.8rem;
    height: 11rem;
}

.primeiro{
    width: 50vw;
}

.segundo{
    width: 30vw;
}

.link{
    cursor: pointer;
}

/* Seletores dos componentes do Rodapé */

footer {
    width: 100vw;
    text-align: left;
    padding: 1vh;
    padding-bottom: 3vh;
}

.first{
    width: 50vw;
}

.fa-user{
    font-size: 80px;
}

.redes{
    font-size: 30px;
}

@media (max-width: 991px) {
    nav {
        width: 65vw;
    }
    .primeiro{
        width: 85vw;
    }
    .segundo{
        width: 85vw;
    }
}

@media (max-width: 767px) {
    section{
        text-align: center;
    }

    .first{
        width: 80vw;
        padding-bottom: 30px;
    }

    .second{
        width: 80vw;
        text-align: center;
    }

    .subdiv{
        padding-bottom: 30px;
        flex-direction: column;
    }

    .corte{
        height: 30vh;
    }

}
  
@media (max-width: 575px) {
    .banner{
        width: 20vw;
    }
}

@media (max-width: 450px) {
    .subdiv{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 15rem;
    }
    .card-img-top{
        height: 10rem;
    }
    .redes{
        margin-top: 3vh;
        font-size: 60px;
    }
    .corte{
        height: 20vh;
    }
}

@media (max-width: 350px) {
    .card{
        width: 12rem;
    }
    .card-img-top{
        height: 8rem;
    }
}
